{# empty Twig template #}
  
{#
{% extends "MyAppCinemaBundle::layout.html.twig" %}

     {% block head %}
         <title>{% block title %}{{parent()}}-Ajout Salle {% endblock %}</title>
           {% block stylesheet %}
            <link rel="stylesheet" href="{{asset('css/css.css')}}"
        {% endblock %}
        
            
        {% endblock %}
    


       
        {% block monform %}
        
        
        #}

            <h3> Ajout D'un chauffeur </h3>
<form  method="POST" action="" > 
    Nom : <input type="text" name="nom"/> <br>
     Prenom : <input type="text" name="prenom"/> <br> 
                      Cin  : <input type="text" name="cin"/> <br>
        numero de permis  : <input type="text" name="numPermis"/> <br>
             login : <input type="text" name="login"/>  <br>
       mot de passe  : <input type="text" name="pwd"/> <br>
Disponible <INPUT type= "radio" name="etat" value="1">  
 non disponible <INPUT type= "radio" name="etat" value="0">  <br> 
      
           email : <input type="text" name="email"/> <br>
            Telephone : <input type="text" name="telephone"/> <br>
              Adresse : <input type="text" name="adresse"/><br>
                   Cin  : <input type="text" name="cin"/> <br>
             
         
         
    <input type="submit" value="Ajouter">
</form>
      {#      
            
  {% endblock %}  
   #}
  